@using HairSalon.Models
@{
  Layout = "_Layout";
}

<h1>@Model.GetName()'s Detail Page</h1>

<form class="" action="/stylists/@Model.GetId()/changename" method="post">
  <label for="newName">Edit Stylist Name:</label>
  <input type="text" name="newName" required>
  <button type="submit" name="button">Edit</button>
</form>

<h3>Specialties:</h3>
<ul>
  @foreach(var specialty in Model.GetSpecialties())
  {
    <form class="" action="/stylists/@Model.GetId()/removespecialty" method="post">
      <input type="number" name="specialtyId" value="@specialty.GetId()" hidden>
      <li>@specialty.GetName() <button type="submit" name="button">Remove</button></li>
    </form>
  }
</ul>

<h3>Add Specialty</h3>
<form class="" action="/stylists/@Model.GetId()/addspecialty" method="post">
  <select class="" name="specialtyId">
    @foreach(var specialty in Specialty.GetAll())
    {
      <option value="@specialty.GetId()">@specialty.GetName()</option>
    }
  </select>
  <button type="submit" name="button">Add Specialty</button>
</form>

<h3>Client List:</h3>

<ul>
  @foreach(var client in Model.GetClients())
  {
    <li><a href="/clients/@client.GetId()">@client.GetName()</a></li>
  }
</ul>

<h3>Add a New Client</h3>
<form action="/stylists/@Model.GetId()/addclient" method="post">
  <div class="">
    <label for="clientName">Client Name:</label>
    <input type="text" name="clientName" required>
    <button type="submit" class="">ADD</button>
  </div>

</form>
<br>
<form class="" action="/stylists/delete" method="post">
  <input type="text" name="stylistId" value="@Model.GetId()" hidden>
  <button type="submit" class="btn btn-danger">DELETE THIS STYLIST RECORD</button>
</form>

<h3><a href="/stylists">List of Stylists</a></h3>
<h3><a href="/">Home</a></h3>
